.dropdown{
    margin-right: 3%;
    margin-left: 3%;
}

.labelSpacing{
    padding-left: 3%;
    padding-right: 3%;
}

.spazziatuaOggetti{
    margin-left: 3%;
    margin-right: 3%;
}

.filterRow{
    margin-left: 3%;
    margin-right: 3%;
}

.checkboxMargin{
    margin-top: 10%;
}

.container-fluid {
    padding-left: 20%;
    padding-right: 20%;
}

.container {
    max-width: 100%;
}
