.form-control{
    margin-top: 1%;
    margin-bottom: 1%;
}

.col-12{
    padding-left: 0%;
    padding-right: 0%;
}

.form-check-input{
    margin-left: 4%;
}

.btn{
    margin-top: 2%;
    margin-bottom: 2%;
}