.dropdown{
    position: static;
}

.navbar-collapse.collapse.show .dropdown{
    display: inline-block;
}

.navbar-collapse.collapsing .dropdown{
    display: inline-block;
}

.navbar-collapse.collapse.show form{
    display: inline-block;
    min-width: 200px;
}

.navbar-collapse.collapsing form{
    display: inline-block;
    min-width: 200px;
}

.navbar-collapse.collapse.show .user{
    display: inline-block;
}

.navbar-collapse.collapsing .user{
    display: inline-block;
}

.dropdown-menu.show{
    width: 100%;
    display: table;
    margin-top: 0;
}

.dropdown-item{
    display: table-cell;
}

button{
    margin-left: 5px;
}

input{
    margin-left: 5px;
}

.find{
    margin: 5px;
}

#expand{
    width: 40%;
    display: block;
    margin: 0 0 0 auto;
    -webkit-transition: width 0.1s ease-in-out;
    transition: width 0.2s ease-in-out;
}

#expand:hover {
    width: 100%;
}

#nopad{
    padding: .25rem;
}

.find{
    min-width: 400px;
}

.modal-footer{
    align-items: center;
    justify-content: center;
}

label{
    font-size: 14px;
    font-weight: 700;
    margin-left: 44px;
    position: relative;
    top: -3.2em;
    transition: all 0.3s ease-in-out;
}

.moveUp{
    transform: translateY(-35px);
    font-size: 10px;
}

.modal-dialog{
    width: 30%;
}

input:focus{
    border-bottom: 1px solid orange;
    outline: none;
}

.modal-input{
    width: 100%;
    padding: 8px 10px;
    margin: 5px;
    margin-top: 3px;
    position: relative;
    top: -0.5em;
    display: inline-block;
    box-sizing: border-box;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid gainsboro;
}